asgiref==3.4.1
astroid==2.9.3
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
Django==4.0
django-cors-headers==3.10.1
django-extensions==3.1.5
djangorestframework==3.13.0
djangorestframework-simplejwt==5.0.0
drf-extra-fields==3.2.1
drf-yasg==1.20.0
idna==3.3
inflection==0.5.1
isort==5.10.1
itypes==1.2.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
Pillow==8.4.0
platformdirs==2.4.1
psycopg2==2.9.2
pycodestyle==2.8.0
PyJWT==2.3.0
pylint==2.12.2
pyparsing==3.0.6
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
ruamel.yaml==0.17.17
sqlparse==0.4.2
toml==0.10.2
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.7
wrapt==1.13.3
